# A3: Pandas Exercise
Total Points: 35

For the below tasks 1-18, use the "[Fox News.csv](https://drive.google.com/file/d/1gxe-TRDulaQH4QFyXMBNU_zjBNUv37M4/view?usp=sharing)" file.

In [34]:
# 1. Open the file Fox News.csv using Pandas [1]
import pandas as pd
fox = pd.read_csv('/content/Fox News.csv', sep=',')
fox

,status_id,status_message,link_name,status_type,status_link,permalink_url,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,15704546335_10155057338651336,The Department of Homeland Security issued a s...,DHS Will Continue to Enforce Trump's Travel Ban,link,http://www.foxnews.com/politics/2017/01/29/dhs...,https://www.facebook.com/FoxNews/posts/1015505...,2017-01-29 19:00:00,22838,1032,2771,19844,2600,42,60,22,272
1,15704546335_10155057407676336,"""It's not a Muslim ban. It's seven countries.""...",NaN,video,https://www.facebook.com/FoxNews/videos/101550...,https://www.facebook.com/FoxNews/videos/101550...,2017-01-29 18:30:00,18337,1206,3052,17124,1022,39,89,5,58
2,15704546335_10155058128116336,"Moments ago, President Donald J. Trump issued ...",Timeline Photos,photo,https://www.facebook.com/FoxNews/photos/a.1840...,https://www.facebook.com/FoxNews/posts/1015505...,2017-01-29 17:15:01,173613,8314,116038,152714,19140,240,242,72,1212
3,15704546335_10155058167526336,"Tonight on an all-new live ""Justice,"" Judge Je...",Timeline Photos,photo,https://www.facebook.com/FoxNews/photos/a.1840...,https://www.facebook.com/FoxNews/posts/1015505...,2017-01-29 17:10:00,1606,327,195,1465,115,1,13,3,9
4,15704546335_10155058074506336,"On ""Justice,"" Judge Jeanine Pirro slammed crit...",Timeline Photos,photo,https://www.facebook.com/FoxNews/photos/a.1840...,https://www.facebook.com/FoxNews/posts/1015505...,2017-01-29 16:30:00,88286,2900,20450,78784,8372,94,687,34,319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5983,15704546335_10154476851456336,As former President Bill Clinton prepares to s...,NaN,video,https://www.facebook.com/FoxNews/videos/101544...,https://www.facebook.com/FoxNews/videos/101544...,2016-07-26 20:55:52,7892,2628,4111,4932,145,497,2057,42,219
5984,15704546335_10154476805716336,NaN,Fox Business,video,https://www.facebook.com/FoxBusiness/videos/10...,https://www.facebook.com/FoxNews/posts/1015447...,2016-07-26 20:27:18,16310,3242,1,10333,219,1024,4529,61,144
5985,15704546335_10154476585326336,"""You're looking at a party that is not concern...",NaN,video,https://www.facebook.com/FoxNews/videos/101544...,https://www.facebook.com/FoxNews/videos/101544...,2016-07-26 19:49:14,28112,1458,10043,24530,472,128,134,1143,1705
5986,15704546335_10154476602931336,Live: Former U.S. Attorney General Eric Holder...,NaN,video,https://www.facebook.com/FoxNews/videos/101544...,https://www.facebook.com/FoxNews/videos/101544...,2016-07-26 19:05:38,6441,11233,579,1312,212,59,515,125,4218
5987,15704546335_10154476232216336,Attendees will hear from the families of Afric...,"Police Union Slams DNC, Hillary for Not Inviti...",link,http://insider.foxnews.com/2016/07/26/you-shou...,https://www.facebook.com/FoxNews/posts/1015447...,2016-07-26 19:01:07,79711,11209,52404,57027,724,898,342,2582,18138

In [22]:
# 2. How many rows and columns are there? Print the information. [1]

print(fox.shape)

(5988, 16)

In [23]:
# 3. What are the columns? [1]

print(fox.columns)

Index(['status_id', 'status_message', 'link_name', 'status_type',
       'status_link', 'permalink_url', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys'],
      dtype='object')

In [27]:
# 4. Select the following columns- num_comments, num_shares_, num_reactions. [2]

fox_cols = fox[['num_comments','num_shares','num_reactions']]

In [29]:
# 5. Select the above, but only for records from 1000 to 1025 [1]

fox_cols[1000:1026]

      num_comments  num_shares  num_reactions
1000           340         775           2513
1001           601         158           1472
1002          1205        3615          11251
1003           123         214           3760
1004          2836         698          10268
1005           243         290           2083
1006          4834        1838          13112
1007          1527        3468           8908
1008           462        1091          10411
1009           531         750           8048
1010          1819         926           8100
1011           607         900           2396
1012           733         617          11213
1013           348         637           2643
1014           983         851           4376
1015           423         109           1202
1016          3223        1890           6607
1017           540         725           2660
1018          1835        4351          42233
1019          1849         792           9935
1020         22141        6945          47767
1021         66081        6825          54679
1022           451         995           4709
1023          2875       28140          40905
1024           806         660           3841
1025          2508        7912         110043

In [40]:
# 6. How many posts are there where status_type == 'link'? [1]

fox_stat = fox[fox['status_type'] == 'link']
print(fox_stat.shape)
print('There are 2666.')

(2666, 16)
There are 2666.

In [45]:
# 7. How many posts are there where status_type == 'video'? and number of shares is more than 500 [2]
fox_vids = fox[(fox['status_type'] == 'video') & (fox['num_shares'] > 500)]
print(fox_vids.shape)
print('There are 1869.')

(1869, 16)

In [47]:
# 8. How many posts are there where number of comments is at least 2000? [1]

fox_coms = fox[fox['num_comments'] >= 2000]
print(fox_coms.shape)
print('There are 2639.')

(2639, 16)
There are 2639.

In [103]:
# 9. What is the maximum, average and minimum num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,
# num_sads,num_angrys per post? [3]
reacts = ['num_reactions','num_comments','num_shares','num_likes','num_loves','num_wows','num_hahas','num_sads','num_angrys']

fox[reacts].agg(['max','mean','min'])

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
max,1.225905e+06,438715.000000,738972.000000,1.071289e+06,205638.000000,16271.000000,105824.000000,100624.000000,90671.000000
mean,2.883959e+04,6033.031229,7759.162993,2.180684e+04,2441.752505,517.209419,1170.851536,655.683701,2247.263193
min,3.000000e+00,0.000000,0.000000,2.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000

In [59]:
# 10. How many posts are there of different status_types? [Hint: Use groupby and count] [2]

fox_types = fox.groupby(by = 'status_type')['status_id'].count()
fox_types
print('There are 2666 links, 1119 photos, 107 statuses and 2096 videos.')

There are 2666 links, 1119 photos, 107 statuses and 2096 videos.

In [63]:
# 11. What is the average num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,
# num_sads,num_angrys per post for each status_type? [Hint: groupby and mean] [2]

fox_reacts_by_type = fox.groupby(by = 'status_type')[reacts].mean()
fox_reacts_by_type

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
status_type,,,,,,,,,
link,22756.288072,3755.145911,5767.823331,15631.768942,1429.374344,720.457239,1571.011253,791.798950,2611.887097
photo,43869.427167,3394.005362,9837.350313,38057.025022,3221.058981,273.522788,897.140304,551.019660,869.701519
status,8509.532710,1135.205607,2260.401869,5509.074766,435.897196,474.205607,134.598131,964.654206,991.112150
video,29591.021947,10589.319179,9463.260019,21817.650286,3415.790076,390.982347,860.897424,522.656966,2583.051527

In [64]:
# 12. Write three observations from the above result of Question 11. [3]

print('Videos and photos have the highest engagement numbers.')
print('Text statuses are far less engaged by the audience.')
print('Photos get a lot of likes and loves, but generate fewer negative reactions than text statuses.')

Videos and photos have the highest engagement numbers.
Text statuses are far less engaged by the audience.
Photos get a lot of likes and loves, but generate fewer negative reactions than text statuses.

In [79]:
# 13. Find the posts which are shared the most, or commented on the most, or receied maximum number of reactions. [2]

pd.set_option('max_colwidth',400)
print(fox.sort_values(by='num_shares', ascending=False).head(1)['status_message'])

4711    In an incredible show of support, a high school football team in California places orange roses at the feet of a cheerleader who is battling leukemia. Orange is the color of leukemia awareness.
Name: status_message, dtype: object

In [80]:
print(fox.sort_values(by='num_comments', ascending=False).head(1)['status_message'])

3767    Donald J. Trump and Hillary Clinton face off in the 2nd presidential debate NOW! Join the conversation here on Facebook by commenting, and watch for commentary from Fox News hosts and contributors. #FoxNews2016 #Debates2016
Name: status_message, dtype: object

In [81]:
print(fox.sort_values(by='num_reactions', ascending=False).head(1)['status_message'])

4711    In an incredible show of support, a high school football team in California places orange roses at the feet of a cheerleader who is battling leukemia. Orange is the color of leukemia awareness.
Name: status_message, dtype: object

In [14]:
# 14. Explain, why they received so much engagement. [3]

The post that got the most reactions and shares was a puff piece about high school football players supporting a classmate with Leukemia, which is a story that is pretty universally going to be enjoyed regardless of political affiliation. The thread with the most comments was set up by the social media admin to be the official place for debate about the presidential debate which, funny enough, sparked a lot of debate.

In [88]:
# 15. Find the link type posts where the number of angry is higher than the average number of angry for a link type post.
# Store the result in a dataframe named 'angry_posts'. [3]

avg_angrys = fox[fox['status_type'] == 'link'].mean()
angry_posts = fox[(fox['status_type'] == 'link') & (fox['num_angrys'] > avg_angrys['num_angrys'])]

angry_posts.shape

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

(614, 16)

In [97]:
# 16. Find the average number of loves and average number of likes for the 'angry_posts'. [2]

angry_mean = angry_posts.agg('mean')
angry_mean

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:577: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return f(*args, **kwargs)

status_id                 inf
num_reactions    2.579154e+04
num_comments     9.383231e+03
num_shares       1.057438e+04
num_likes        9.965256e+03
num_loves        3.686287e+02
num_wows         1.405676e+03
num_hahas        2.444181e+03
num_sads         1.560288e+03
num_angrys       1.004752e+04
dtype: float64

In [101]:
# 17. Find the posts from 'angry_posts' where the num_likes is less than the average likes and num_loves is less than the
# average loves that you found in Question 16. [2]

less_angry_posts = angry_posts[(angry_posts['num_likes'] < angry_mean['num_likes']) & (angry_posts['num_loves'] < angry_mean['num_loves'])]
less_angry_posts

,status_id,status_message,link_name,status_type,status_link,permalink_url,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
6,15704546335_10155057757696336,"""Thank goodness this Brooklyn federal judge has tried to stop executive orders,"" Senator Dick Durbin said, calling President Donald J. Trump's move ""impulsive.""",Sen. Durbin: Trump's 'Impulsive' Immigration Order Sends Wrong Message About US,link,http://insider.foxnews.com/2017/01/29/dick-durbin-donald-trump-impulsive-immigration-order-wrong-message-syrian-refugees-jfk,https://www.facebook.com/FoxNews/posts/10155057757696336,2017-01-29 14:48:00,5666,5694,350,1494,100,91,984,81,2916
38,15704546335_10155054605901336,CAIR's national litigation director said that there are more than 20 million Muslims supporting the lawsuit.,CAIR Planning Lawsuit Against Trump Over Immigration Ban,link,http://insider.foxnews.com/2017/01/28/cair-planning-lawsuit-against-trump-over-immigration-ban-muslims,https://www.facebook.com/FoxNews/posts/10155054605901336,2017-01-28 16:40:01,17778,10414,1956,4645,301,250,8447,121,4014
49,15704546335_10155052997366336,"""Can you hear me?"" Police in several states are urging people to avoid answering this simple question from a phone number they do not know.",'Can You Hear Me?' Scam Has Police Urging People to Hang Up Immediately,link,http://www.foxnews.com/tech/2017/01/27/can-hear-me-scam-has-police-urging-people-to-hang-up-immediately.html,https://www.facebook.com/FoxNews/posts/10155052997366336,2017-01-28 08:00:05,15748,1269,40290,9921,37,2317,52,138,3283
50,15704546335_10155053171036336,ICYMI: A Texas high school art teacher has been placed on administrative leave after video surfaced showing her pretending to shoot President Donald J. Trump.,"""Die!"" High school teacher stages mock assassination of Trump",link,http://www.foxnews.com/opinion/2017/01/26/die-high-school-teacher-stages-mock-assassination-trump.html,https://www.facebook.com/FoxNews/posts/10155053171036336,2017-01-28 07:01:00,10817,3201,2423,5511,237,620,946,254,3249
53,15704546335_10155051640726336,The U.S. Army veteran was invited to the game as the week's hometown hero.,Army Vet Says Rapper Gucci Mane Booted Him from Seat at Football Game,link,http://www.foxnews.com/entertainment/2017/01/27/army-vet-says-rapper-gucci-mane-booted-him-from-seat-at-football-game.html,https://www.facebook.com/FoxNews/posts/10155051640726336,2017-01-28 04:00:00,27419,4412,4724,4165,91,2123,182,937,19921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5882,15704546335_10154484279956336,"A federal appeals court has struck down a North Carolina law requiring photo ID to cast in-person ballots, ruling that it was enacted ""with discriminatory intent.""",Federal Appeals Court Blocks North Carolina Voter ID Law,link,http://www.foxnews.com/politics/2016/07/29/federal-appeals-court-blocks-north-carolina-voter-id-law.html,https://www.facebook.com/FoxNews/posts/10154484279956336,2016-07-29 15:22:14,9201,6768,3165,1779,87,611,72,206,6446
5900,15704546335_10154481718416336,"Authorities said the uniformed officer was standing in line at Noodles & Company when the cook came out from the back and told the cashier, ""You better pull me off the line, because I'm not serving that.""",Virginia Police Officer Denied Service at Restaurant,link,http://www.foxnews.com/us/2016/07/28/virginia-police-officer-denied-service-at-restaurant.html,https://www.facebook.com/FoxNews/posts/10154481718416336,2016-07-29 02:15:00,26915,7559,7626,5275,94,804,137,2851,17754
5923,15704546335_10154481314521336,"A man caught on video tearing down Blue Lives Matter ribbons and yelling ""F--- blue lives"" has apologized after getting threatening messages on social media.",NY Man Caught Tearing Down Blue Lives Matter Ribbons Apologizes,link,http://www.foxnews.com/us/2016/07/28/man-caught-tearing-down-blue-ribbons-apologizes.html,https://www.facebook.com/FoxNews/posts/10154481314521336,2016-07-28 13:18:25,9221,3672,1670,3781,41,177,1710,131,3381
5931,15704546335_10154476320051336,"When the couple confronted their grandson, he left and never came back.",Elderly Couple Scammed Out of Their Home by Greedy Grandson,link,http://insider.foxnews.com/2016/07/26/elderly-couple-scammed-out-their-home-greedy-grandson,https://www.facebook.com/FoxNews/posts/10154476320051336,2016-07-28 07:22:16,11586,1602,6126,2209,29,276,17,3517,5538
5959,15704546335_10154478757381336,Charles Allen Judge Jr. and Jonathon Michael Prins were identified as the two men who were killed.,Two South Carolina Soldiers Gunned Down While Protecting Woman at Bar,link,http://www.foxnews.com/us/2016/07/27/two-south-carolina-soldiers-gunned-down-while-protecting-woman-at-bar.html,https://www.facebook.com/FoxNews/posts/10154478757381336,2016-07-27 14:07:05,12962,788,2016,3051,36,100,12,6529,3234

In [18]:
# 18. Explain why these posts received so much anger. [3]

All of these posts were about Trump's agenda being defied, such as the judicial branch blocking right-wing laws, or stories about bad things happening to soldiers, the elderly, etc.