# Setup

### Libraries and Packages

In [36]:
import pandas as pd
from datetime import date, timedelta
from IPython.display import HTML, display

### Import Data

In [2]:
# ACLED Ethiopia - for conflict analysis
eth = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\ethiopia.csv',',')

# ACLED Ukraine - for conflict analysis
ukr = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\ukraine.csv',',')

# NYT Metadata - for news trend analysis
nyt = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\times.csv',',')

C:\Users\Jon\AppData\Local\Temp\ipykernel_19728\991624813.py:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  eth = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\ethiopia.csv',',')
C:\Users\Jon\AppData\Local\Temp\ipykernel_19728\991624813.py:5: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  ukr = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\ukraine.csv',',')
C:\Users\Jon\AppData\Local\Temp\ipykernel_19728\991624813.py:8: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  nyt = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\times.csv',',')

In [3]:
nyt

,headline,date,doc_type,material_type,section,keywords
0,A Year of Devastation in Arizona’s Wild Lands,11/2/2020,article,Op-Ed,NaN,"['Border Barriers', 'Endangered and Extinct Sp..."
1,Trump Backers Block Highways as Election Tensi...,11/2/2020,article,News,NaN,"['Presidential Election of 2020', 'Demonstrati..."
2,"In Dash to Finish, Biden and Trump Set Up Show...",11/2/2020,article,News,NaN,"['Presidential Election of 2020', 'United Stat..."
3,"No Corrections: Nov. 2, 2020",11/2/2020,article,News,NaN,[]
4,"It’s the End of an Era for the Media, No Matte...",11/2/2020,article,News,NaN,"['News and News Media', 'Appointments and Exec..."
...,...,...,...,...,...,...
103198,Sunak’s Ascent Is a Breakthrough for Diversity...,10/24/2022,article,News,NaN,"['Elections', 'Politics and Government', 'Poll..."
103199,Lawmakers’ Report Says Philadelphia D.A.’s Pol...,10/24/2022,article,News,NaN,"['District Attorneys', 'State Legislatures']"
103200,Justice Dept. Charges 2 Chinese Citizens With ...,10/24/2022,article,News,NaN,"['Elections', 'Politics and Government', 'Unit..."
103201,Western Officials Warn Russia Could Use a Dirt...,10/24/2022,article,News,NaN,"['Russian Invasion of Ukraine (2022)', 'Defens..."
103202,Man Who Sold Gun Used in Synagogue Standoff Ge...,10/24/2022,article,News,NaN,"['Terrorism', 'Firearms', 'Kidnapping and Host..."

In [19]:
eth.columns

Index(['data_id', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'event_date',
       'year', 'time_precision', 'event_type', 'sub_event_type', 'actor1',
       'assoc_actor_1', 'inter1', 'actor2', 'assoc_actor_2', 'inter2',
       'interaction', 'region', 'country', 'admin1', 'admin2', 'admin3',
       'location', 'latitude', 'longitude', 'geo_precision', 'source',
       'source_scale', 'notes', 'fatalities', 'timestamp', 'iso3'],
      dtype='object')

### Formatting

In [4]:
# Dates

eth['event_date'] = pd.to_datetime(eth['event_date'],format = '%d %B %Y')
eth['year'] = pd.to_datetime(eth['year'], format = '%Y')
ukr['event_date'] = pd.to_datetime(ukr['event_date'],format = '%d %B %Y')
ukr['year'] = pd.to_datetime(ukr['year'], format = '%Y')
nyt['date'] = pd.to_datetime(nyt['date'],format = '%m/%d/%Y')
nyt['headline'] = nyt['headline'].to_string()

# IDs

convert_dict = {
    'data_id' : str,
    'event_id_no_cnty' : str,
    'inter1' : str,
    'inter2' : str,
    'interaction' : str
}

eth = eth.astype(convert_dict)
ukr = ukr.astype(convert_dict)

# Exploratory Analysis

### Basic Fact-finding - Ukraine vs. Ethiopia

In [5]:
eth.shape

(3566, 31)

In [6]:
eth.describe()

,iso,time_precision,latitude,longitude,geo_precision,fatalities,timestamp
count,3566.0,3566.000000,3566.000000,3566.000000,3566.000000,3566.000000,3.566000e+03
mean,231.0,1.535614,11.032138,38.463511,1.566181,5.090297,1.644033e+09
std,0.0,0.766584,2.431685,1.622998,0.521052,19.436587,1.324255e+07
min,231.0,1.000000,3.539100,33.205100,1.000000,0.000000,1.610410e+09
25%,231.0,1.000000,9.312200,37.483300,1.000000,0.000000,1.639526e+09
50%,231.0,1.000000,11.267000,38.757300,2.000000,0.000000,1.639586e+09
75%,231.0,2.000000,13.322600,39.591600,2.000000,3.000000,1.653948e+09
max,231.0,3.000000,14.695300,45.340800,3.000000,600.000000,1.667851e+09

In [7]:
nyt.dtypes

headline                 object
date             datetime64[ns]
doc_type                 object
material_type            object
section                 float64
keywords                 object
dtype: object

In [8]:
ukr.shape

(38507, 31)

In [9]:
ukr.describe()

,iso,time_precision,latitude,longitude,geo_precision,fatalities,timestamp
count,38507.0,38507.000000,38507.000000,38507.000000,38507.000000,38507.000000,3.850700e+04
mean,804.0,1.014283,48.475363,36.328016,1.639988,0.530994,1.651426e+09
std,0.0,0.140687,1.175126,2.619424,0.524776,6.410213,1.464968e+07
min,804.0,1.000000,43.389000,22.300000,1.000000,0.000000,1.618436e+09
25%,804.0,1.000000,47.697500,35.517900,1.000000,0.000000,1.646174e+09
50%,804.0,1.000000,48.338000,37.571000,2.000000,0.000000,1.656436e+09
75%,804.0,1.000000,48.946700,37.942000,2.000000,0.000000,1.663096e+09
max,804.0,3.000000,52.341300,40.132200,3.000000,485.000000,1.667941e+09

So far, it looks like there is far more data for Ukraine than there is for Ethiopia - over 10 times more, in fact. This is surprising because the Ethiopian conflict has been going on for over a year longer than the fighting in Ukraine.

In [10]:
eth_civ = eth[eth.actor2 == 'Civilians (Ethiopia)']
ukr_civ = ukr[ukr.actor2 == 'Civilians (Ukraine)']
print(
    eth_civ.shape,
    ukr_civ.shape
)
print(
    'Civilian-involved incidents comprise ',(len(eth_civ)/len(eth))*100,'% of all ACLED incidents in Ethiopia.','\n',
    'Civilian-involved incidents comprise ',(len(ukr_civ)/len(ukr))*100,'% of all ACLED incidents in Ukraine.',sep=''
)

(1101, 31) (2790, 31)
Civilian-involved incidents comprise 30.874929893438026% of all ACLED incidents in Ethiopia.
Civilian-involved incidents comprise 7.2454358947723785% of all ACLED incidents in Ukraine.

When we filter by events where actor2 = Civilians, i.e. civilians were victims, we can see that a far greater percent of incidents targeted noncombatants in Ethiopia than in Ukraine.

In [11]:
eth_civ_acts = eth_civ.groupby(by = ['actor1']).count().sort_values(by = 'data_id',ascending = False)
ukr_civ_acts = ukr_civ.groupby(by = ['actor1']).count().sort_values(by = 'data_id',ascending = False)

In [12]:
print(
    'The perpetrators of the most violence against civilians in Ukraine are ',ukr_civ_acts.index[0],', ',ukr_civ_acts.index[1],' and ',ukr_civ_acts.index[2],'.\nThe perpetrators of the most violence against civilians in Ukraine are ',eth_civ_acts.index[0],', ',eth_civ_acts.index[1],' and ',eth_civ_acts.index[2],'.',sep=''
)

The perpetrators of the most violence against civilians in Ukraine are Military Forces of Russia (2000-), Military Forces of Russia (2000-) Air Force and Unidentified Armed Group (Ukraine).
The perpetrators of the most violence against civilians in Ukraine are TPLF: Tigray People's Liberation Front, Military Forces of Ethiopia (2018-) and OLF: Oromo Liberation Front (Shane Splinter Faction).

In [13]:
eth_ints = eth.loc[eth['fatalities'] > 0,['interaction','fatalities']].groupby(by = ['interaction']).count().sort_values(by = 'fatalities',ascending = False)
ukr_ints = ukr.loc[ukr['fatalities'] > 0,['interaction','fatalities']].groupby(by = ['interaction']).count().sort_values(by = 'fatalities',ascending = False)

In [14]:
eth_ints

             fatalities
interaction
12                  465
17                  238
37                  212
13                  200
27                  129
47                  115
14                   54
44                   47
78                   34
24                   34
34                   29
15                   10
57                    8
38                    8
11                    6
16                    6
22                    5
33                    3
35                    1
25                    1
48                    1
55                    1

In [15]:
ukr_ints

             fatalities
interaction
78                 1265
18                  711
12                  444
17                   27
37                   15
13                   14
80                   14
48                   12
47                   12
88                    7
27                    5
23                    5
38                    4
14                    4
68                    2
11                    1
22                    1
10                    1

# NYT Trends

In [43]:
def containsTig(lst):
  if lst.count('Tigrayans (Ethnic Group)') > 0:
    return True
  else:
    return False

nyt_tig = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\times.csv',',')
nyt_tig['tig_tag'] = nyt_tig['keywords'].apply(containsTig)
nyt_tig = nyt_tig[(nyt_tig.tig_tag == True)]
nyt_tig

C:\Users\Jon\AppData\Local\Temp\ipykernel_19728\42801679.py:7: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  nyt_tig = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\times.csv',',')

,headline,date,doc_type,material_type,section,keywords,tig_tag
1462,Ethiopia Escalates Fight Against Its Powerful ...,11/5/2020,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
2442,What’s Happening in Ethiopia Is a Tragedy,11/11/2020,article,Op-Ed,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
2970,They Once Ruled Ethiopia. Now They Are Fightin...,11/15/2020,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
4642,I Was a Child Refugee. Another War in Ethiopia...,11/26/2020,article,Op-Ed,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
4865,Ethiopia Claims Victory in Tigray Conflict Aft...,11/28/2020,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
5561,"From Shelled Ethiopian City, Doctors Tally Dea...",12/3/2020,article,News,NaN,"['Humanitarian Aid', 'War and Armed Conflicts'...",True
6346,Fleeing Ethiopians Tell of Ethnic Massacres in...,12/9/2020,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
6777,"As War Goes On in Ethiopia, Ethnic Harassment ...",12/12/2020,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Discrimination',...",True
7897,"‘I Miss Home’: In Tigray Conflict, Displaced C...",12/20/2020,article,News,NaN,"['Refugees and Displaced Persons', 'Tigrayans ...",True
20285,Ethiopia’s War Leads to Ethnic Cleansing in Ti...,2/26/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Human Rights and...",True
23272,Fear and Hostility Simmer as Ethiopia’s Milita...,3/19/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Human Rights and...",True
24527,"Eritrea Agrees to Withdraw Troops From Tigray,...",3/26/2021,article,News,NaN,"['War Crimes, Genocide and Crimes Against Huma...",True
28871,The Anguish of the World’s Doctor,4/24/2021,article,Op-Ed,NaN,"['War Crimes, Genocide and Crimes Against Huma...",True
33071,"Changing Tack, U.S. Sanctions Ethiopia Over Ab...",5/24/2021,article,News,NaN,"['United States International Relations', 'War...",True
33389,Famine Looms in Ethiopia’s War-Ravaged Tigray ...,5/26/2021,article,News,NaN,"['Humanitarian Aid', 'War and Armed Conflicts'...",True
35477,"Famine Hits 350,000 in Ethiopia, Worst-Hit Cou...",6/10/2021,article,News,NaN,"['Humanitarian Aid', 'Tigrayans (Ethnic Group)...",True
36887,"From Nobel Hero to Driver of War, Ethiopia’s L...",6/21/2021,article,News,NaN,"['Politics and Government', 'Defense and Milit...",True
37242,"Dozens Killed in Market Airstrike in Ethiopia,...",6/23/2021,article,News,NaN,"['Civilian Casualties', 'War and Armed Conflic...",True
37681,3 Aid Workers for Doctors Without Borders Are ...,6/25/2021,article,News,NaN,"['Humanitarian Aid', 'Civilian Casualties', 'W...",True
37971,"Ethiopian Forces Retreat in Tigray, and Rebels...",6/28/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
38164,Jubilant Tigray Capital Greets Insurgents Afte...,6/29/2021,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
38676,"After Sudden Defeat, Captured Ethiopian Soldie...",7/2/2021,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
38693,Tigrayan Forces Parade Ethiopian Soldiers Thro...,7/2/2021,multimedia,Video,NaN,"['Prisoners of War', 'War and Armed Conflicts'...",True
38767,‘I Didn’t Expect to Make It Back Alive’: An In...,7/3/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
39697,How Local Guerrilla Fighters Routed Ethiopia’s...,7/11/2021,article,News,NaN,"['War and Armed Conflicts', 'War Crimes, Genoc...",True
43197,"As Ethiopia’s Civil War Rages, Bodies Float Do...",8/3/2021,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
45783,‘My Blood Is Boiling’: War Fever Surges in Eth...,8/22/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
47157,"Ethiopian Rebels Looted American Aid Stores, U...",9/1/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Humanitarian Aid...",True
49498,Biden Threatens New Sanctions Against Ethiopia...,9/17/2021,article,News,NaN,"['War and Armed Conflicts', 'Defense and Milit...",True
56055,Ethiopia Declares State of Emergency as Rebels...,11/2/2021,article,News,NaN,"['War and Armed Conflicts', 'Defense and Milit...",True
56202,"Ethiopia’s Leader Vows to ‘Bury This Enemy,’ E...",11/3/2021,article,News,NaN,"['Politics and Government', 'Defense and Milit...",True
56460,Crackdown Sweeps Ethiopia’s Capital as War Dra...,11/4/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
56659,Eight Groups Join Tigray Rebels Vowing to Oust...,11/5/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Oromo (Ethnic Gr...",True
57446,"Ethiopia Is Spiraling, and There’s One Man’s M...",11/12/2021,article,Op-Ed,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
57837,Blinken Heads to Africa as U.S. Tries to Avert...,11/15/2021,article,News,NaN,"['United States International Relations', 'War...",True
58035,Mass Detentions of Civilians Fan ‘Climate of F...,11/17/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'Detainees']",True
59273,Ethiopian Leader Heads to Front Line as War Th...,11/25/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War Crimes, Geno...",True
60682,Ethiopia Says It Recaptured Strategic Towns Fr...,12/7/2021,article,News,NaN,['Tigrayans (Ethnic Group)'],True
61204,"Tigray Rebels Executed Dozens of Civilians, Re...",12/10/2021,article,News,NaN,['Tigrayans (Ethnic Group)'],True
61723,The Nobel Peace Prize That Paved the Way for War,12/15/2021,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
62424,Foreign Drones Tip the Balance in Ethiopia’s C...,12/20/2021,article,News,NaN,"['Drones (Pilotless Planes)', 'Arms Trade', 'W...",True
64502,"Ethiopia Frees Prominent Political Prisoners, ...",1/7/2022,article,News,NaN,"['Political Prisoners', 'War and Armed Conflic...",True
64876,On Day Biden Calls Ethiopia’s Leader to Urge P...,1/11/2022,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
74908,Ethiopia Declares ‘Humanitarian Truce’ in War-...,3/24/2022,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
86587,Over 200 Feared Dead in Ethiopia Massacre,6/19/2022,article,News,NaN,"['War and Armed Conflicts', 'Civilian Casualti...",True
87162,When Satellites Capture a Crisis,6/23/2022,article,News,NaN,"['War and Armed Conflicts', 'Tigrayans (Ethnic...",True
101223,"After Secret U.S. Talks Fail, a Hidden War in ...",10/8/2022,article,News,NaN,"['Tigrayans (Ethnic Group)', 'War and Armed Co...",True
103154,Ethiopian Government and Tigray Rebels Set to ...,10/24/2022,article,News,NaN,['Tigrayans (Ethnic Group)'],True

In [17]:
def containsUkr(lst):
  if lst.count('Russian Invasion of Ukraine (2022)') > 0:
    return True
  else:
    return False

nyt_ukr = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\times.csv',',')
nyt_ukr['ukr_tag'] = nyt_ukr['keywords'].apply(containsUkr)
nyt_ukr = nyt_ukr[(nyt_ukr.ukr_tag == True)]
nyt_ukr.shape

C:\Users\Jon\AppData\Local\Temp\ipykernel_19728\3458763057.py:7: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  nyt_ukr = pd.read_csv(r'C:\Users\Jon\Documents\GitHub\comp_jour_fall22\final project\data\times.csv',',')

(3240, 7)

## Summing and Analysis

In [24]:
total_eth_fat = eth['fatalities'].sum()
total_ukr_fat = eth['fatalities'].sum()

In [28]:
print('ARTICLES PER 1,000 FATALITIES')
print('Ethiopia: ',((nyt_tig.shape[0]*1000)/total_eth_fat))
print('Ukraine: ',((nyt_ukr.shape[0]*1000)/total_ukr_fat))

ARTICLES PER 1,000 FATALITIES
Ethiopia:  2.644336712208021
Ukraine:  178.49272807404142

Building Articles over Time axes

In [31]:
daily_articles = pd.DataFrame(columns = ('date','eth','ukr'))

Empty DataFrame
Columns: [date, eth, ukr]
Index: []

In [61]:
start_date = date(2020,11,1)
end_date = date(2022,11,20)

delta = end_date - start_date

days=[]
for i in range(delta.days + 1):
    day = start_date + timedelta(days=i)
    days.append(day)

daily_articles['date'] = days

daily_articles

           date  eth  ukr
0    2020-11-01  NaN  NaN
1    2020-11-02  NaN  NaN
2    2020-11-03  NaN  NaN
3    2020-11-04  NaN  NaN
4    2020-11-05  NaN  NaN
..          ...  ...  ...
745  2022-11-16  NaN  NaN
746  2022-11-17  NaN  NaN
747  2022-11-18  NaN  NaN
748  2022-11-19  NaN  NaN
749  2022-11-20  NaN  NaN

[750 rows x 3 columns]